extends layout

block content
  h1= title
  p #{title} uygulaması test sayfası bu sayda uygulamalı şeyler yer alacak
  input(type='button', onclick='runme()' value='Test Et')
  script function runme(){ console.log('Ya bujdat dvorya!'); }
