extends layout

block content
  h1= title
  p #{title} uygulaması test sayfası bu sayda uygulamalı şeyler yer alacak
  input(name='deneme', type='button', onclick='runme()')

  script
    alert('deneme')
