doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/ap.js')
    script(type='text/javascript', src='/javascripts/fs.js')
    script(type='text/javascript', src='/javascripts/desktop.js')
  body
    block content
