doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/ap-gui/ap.js')
    script(type='text/javascript', src='/javascripts/ap-gui/ajax.js')
    script(type='text/javascript', src='/javascripts/ap-gui/fs.js')
    script(type='text/javascript', src='/javascripts/ap-gui/desktop.js')
    script(type='text/javascript', src='/javascripts/loader.js')
  body
    block content
    script
